/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    font-family: 'Roboto', sans-serif; /* Using Roboto font for a professional look */
    background-color: #F8F9FA;
    color: #343A40;
    line-height: 1.6;
 }
 
 header {
    background: linear-gradient(to right, #343A40, #6C757D);
    padding: 60px 0;
    text-align: center;
 }
 
 header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
 }
 
 header p {
    font-size: 1.2rem;
 }
 
 .categories {
    padding: 60px 0;
 }
 
 .categories h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007BFF;
    text-align: center;
    margin-bottom: 50px;
 }
 
 .category {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 8px;
    overflow: hidden;
 }
 
 .category:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(52, 58, 64, 0.1);
 }
 
 .category img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
 }
 
 .category .card-body {
    padding: 20px;
    text-align: center;
 }
 
 .category h5 {
    color: #343A40;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
 }
 
 footer {
    background: #343A40;
    padding: 20px 0;
    text-align: center;
 }
 
 footer p {
    color: #FFFFFF;
    font-size: 0.9rem;
 }
 